body {
  padding: 0;
  margin: 0;

  display: grid;
  place-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.App {
  font-family: sans-serif;
  text-align: center;

  padding: 20px;
  box-sizing: border-box;
}
